.doc::-webkit-scrollbar{
    width: 8px;
}

.doc::-webkit-scrollbar-track{
    background: rgb(17,17,17,0.9);
}

.doc::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
  border: 1px solid #222;
}

.doc::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}