.header-container{
    /* background: #000000; */
    color: white;
    display: flex;
}

.header{
    position: relative;
    left: 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    list-style: none;
    padding: 10px;
}

.list-item{
    font-weight: bold;
    font-size: 1.4rem;
}

.list-link{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.list-link:hover{
    color: #e76fff;
}

.list-link-active{
    position: relative;
    display: inline-block;
    color: #e76fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.list-link-active::before{
    position: absolute;
    top: 50%;
    left: 50%;
    content: '.';
}