.header-container{
    /* background: #000000; */
    color: white;
    display: flex;
}

.header{

}

.list{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    list-style: none;
    padding: 10px;
}

.list-item{
    font-weight: bold;
}

.list-link{
    color: #fff;
    text-decoration: none;
}